.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  background-image: url(./images/genshin-bg-liyue.jpeg);
  background-size: cover;
  align-items: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-face-gen{
  font-family: "Genshin";
}

.header{
  display: flex;
  height: 3rem;
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
}
.frosted{
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.title{
  color: whitesmoke;
}
.score{
  color: whitesmoke;
  padding-right: 3rem;
}
.container{
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  box-sizing: border-box;
  justify-items: center;
}
.card-container{
  height: 135px;
  width: 135px;
}
.card{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(19, 19, 19);
  padding: 2px;
}
.char{
  height: 110px;
  width: 110px;
}

@media only screen and (max-width: 600px) {
  .container{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-container{
    height: 110px;
    width: 110px;
  }
  .char{
    height: 85px;
    width: 85px;
  }
  .card>p{
    font-size: 14px;
  }

}